In [1]:
import pandas as pd
from sklearn import linear_model

In [3]:
df=pd.read_csv("/content/sample_data/homeprices.csv")

In [ ]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [5]:
df.bedrooms.median()

4.0

In [4]:
df.bedrooms=df.bedrooms.fillna(df.bedrooms.median())

In [8]:
model=linear_model.LinearRegression()

In [9]:
model.fit(df.drop('price',axis='columns'),df.price)

LinearRegression()

In [10]:
model.predict([[50000,3.0,35]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([5781501.6124038])

**SAVE AND LOAD USING JOBLIB**

In [ ]:
from sklearn.externals import joblib
joblib.dump(model,"model_lib")

In [ ]:
joblib.load("model_lib")